<div class="row no-no-space">
	<div class="row ic-body-panel-header">
		<div class="col-sm-6">{{header}}</div>

		<div class="col-sm-6" style="text-align: right">
			<span ng-if="extras" header-dynamic="{{extras}}"></span> <span><button
					class="ic-body-panel-button" title="Zoom In" ng-click="zoomIn()">
					<span class="glyphicon glyphicon-plus" />
				</button></span>
		</div>
	</div>

	<div id="widgetPanelBody" class="ic-body-panel-body"
		body-dynamic="{{content}}"></div>
</div>