<div ng-controller='stackedColumnWorkOrdersCtrl'> 
<div ng-if="!hasOrg && inEditor"><h1>Please select viewing preferences from the properties menu</h1></div>
<img ng-if="!hasOrg && !inEditor" src="/intellicommand/ajax-loader2.gif"></img>
<div ng-if="noData"><h1>No work orders were found for the most recent request</h1></div>

<!-- <div  ng-if="hasOrg" class="btn btn-default" ng-click="openWorkOrderGrid()"><img src="/intellicommand/smallChart.png"></div> -->
<!-- <div class="btn btn-default" ng-click="openPageConfiguration()"><img src="/intellicommand/config.png"></div> -->
<div collapse = "!hideGraphs" style="transition:0.5s">
	<div ng-if="hasOrg">
		<!-- <r>Client: {{config.clientName}}</r><br> -->
	<!-- 	<div  class="btn btn-default" style="cursor:pointer" ng-click="toggleView()" ng-hide="weeklyStationView || assetView"><img src="/intellicommand/pictures/buttons/repeat.png"></div>
		<div class="btn btn-default" style="cursor:pointer" ng-click="showClientView()" ng-show="weeklyStationView"><img src="/intellicommand/pictures/buttons/arrow-left.png"></div>
		<div class="btn btn-default" style="cursor:pointer" ng-click="showFacilityView()" ng-show="assetView"><img src="/intellicommand/pictures/buttons/arrow-left.png"></div> -->
		
		<div class = "row-sm-8 row-md-8 row-lg-8 row-xl-8">
			
			<div  id="station_axis_client_chart_{{config.chartId}}" ng-show="stationClientView"></div>
<!-- 			<div  id="time_axis_client_chart_{{config.chartId}}" ng-show="timeClientView"></div> -->
			<div  id="time_axis_client_chart_{{config.chartId}}" ng-show="timeClientView"></div>
			<div  id="weekly_station_chart_{{config.chartId}}" ng-show="weeklyStationView"></div>
			<div  id="asset_chart_{{config.chartId}}" ng-show="assetView"></div>
		</div>
		
	</div>
	
</div>
<div ng-if="gridView" style="width: 100%" ui-grid="gridOptions" external-scopes="onRowClick" ui-grid-auto-resize></div>

</div> 
