/* BEGIN: Login CSS */
.gx-imglogin {
	margin: 0 auto;
}
.gx-loginblock {
	padding: 5px;
}

.k-textbox,.k-dropdown {
	width: 100%;
}

.gx-pullright {
	float: right !important;
}

.gx-checkbox {
	margin-top: 10px;
}

.gx-container {
	margin-top: 70px;
	margin-bottom: 10px;
}



 #treeView1 .k-in{     
     width:350px; 
 } 
 
 .gx-pl-tree{
 width:400px;
 }


.gx-panel {
	border: 0px solid transparent;
	width: 350px;
	margin: 0 auto;
	-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .05);
	box-shadow: 0 0px 0px rgba(0, 0, 0, .05);
}

.gx-reg{
	margin-left:0px;
	margin-right:0px;
}


/* END: Login CSS */

/* BEGIN: Manage Users CSS  */

input#userName {
text-transform: lowercase;
}

.gx-toolbar-comp {
	width: 200px;

}

.k-block>.k-header {
	min-height: 33px;
	margin: -2px 0 0px -2px;
}

.gx-form-group {
	margin-bottom: 7px;
}


.gx-form-group-modal {
	margin-bottom: 0px;
}

.gx-form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857;
	color: #555;
	background-color: #FFF;
	background-image: none;
	border: 1px solid #CCC;
	border-radius: 4px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.gxform-control[disabled],.gx-form-control[readonly] {
	cursor: not-allowed;
	background-color: #EEE;
	opacity: 1;
}

.gx-modal-footer {
	padding: 5px;
	text-align: right;
	border-top: 1px solid #e5e5e5;
	height: 20px;
}


.gx-grid-modal-footer {
	padding-top:20px;
	text-align: right;
	border-top: 0px solid #e5e5e5;
	height: 20px;
}
#notificationPanel{
    position: absolute;
    top: 50%;
    left:40%;   
    z-index: 10;
    width:auto;
}
.gx-modal-body {
	position: relative;
	padding: 15px;
}

.k-grid,.k-block {
	border-radius: 0px;
	
}
.k-textbox .k-icon {
	top: 50%;
	left: 91.5%;
}

.k-widget.k-tooltip-validation {
	border-color: #FFEBE6;
	background-color: #FFEBE6;
	color: #FF0000;
}

#searchList_taglist{
	position:relative;
	top:3px;
}


.k-tooltip {
	width: 98%;
	text-align: left;
}
.k-multiselect .k-button {
	color: #fff;
	border-color: #357ebd;
	background-color: #428bca;
	width: auto;
	height: 25px;
	font-size: smaller;
}

.k-multiselect-wrap {
	position: relative;
	border-width: 0;
	border-style: solid;
	border-radius: 4px;
	border-color: #c5c5c5;
	background-color: #FFF;
	min-height: 2.04em;
	width: auto;
/* 	padding: 2px; */
}

 #appendto {
 float: right;
 width: 300px;
 height: 170px;
 margin: 1em 0;
 overflow: auto;
}

.gx-tbfr {
float: right !important;
margin-top: 6px !important;

}

input.k-textbox,.k-dropdown {
height: 2.13em;
text-indent: .33em;

}

.gx-treeview-style{
	height:412px;
	overflow:auto;
}

.gx-k-button{
	width:270px;
}
.gx-searchlist{
	min-width:200px;
	width:auto;
}
/* END: Manage Users CSS  */


/*BEGIN:Manage Role CSS*/

input#roleName {
text-transform: lowercase;
}

table.dropdown-header { 
	
	padding: 10px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #777;
	white-space: nowrap;
	border: 1px solid #ff0000;
}

.dropdown-header>span {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: left;
	display: inline-block;
	border-style: solid;
	border-width: 0 0 1px 1px;
	padding: .3em .6em;
	width: 30.0%;
}

.dropdown-header>span:first-child {

	border-left-width: 0;
}

#role_users-list .k-item>span {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;	
	box-sizing: border-box;
	display: inline-block;
	border-style: solid;
	border-width: 0 0 1px 1px;
	vertical-align: top;
	min-height: 20px;
	width: 30.3%;
	padding: .6em 0 0 .6em;
}

#role_users-list .k-item>span:first-child {

	border-left-width: 0;
	padding: .6em 0 0 0;
}

#role_users-list h3 {
	font-size: 1.6em;
	margin: 0;
	padding: 0;
}

#role_users-list p {
	margin: 0;
	padding: 0;
}

.badge {
	display: inline-block;
	min-width: 10px;
	padding: 7px 7px;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #428bca;
	border-radius: 13px;
	margin: 2px;
}
.gx-mandatory {
	color: #FF0000;
	font-size: 14px;
	top: 0em;
}

/* Error template */

   .k-notification-error.k-group {
       background: rgba(100%,0%,0%,0.4);
       color: #ffffff;
 
   }
   .errorTemp {
       width: 400px;
       height: auto;
      
   }
   .errorTemp h3 {
       font-size: 1em;
       padding: 32px 10px 5px;
   }
   .errorTemp img {
       float: left;
       margin: 30px 15px 30px 30px;
   }

   /* Success template */
   .k-notification-success.k-group {
       background: rgba(0%,60%,0%,.4);
       color: #fff;
   }
   .successTemp {
       width: 400px;
       height: 100px;
   }
   .successTemp h3 {
       font-size: 1.2em;
       padding: 32px 10px 5px;
   }
   .successTemp img {
      float: left;
       margin: 30px 15px 30px 30px;
   }
   
   .gx-search-list{
   width:400px
   }
   
   .gx-user-list{
   width: 360px;
   }
   

/*END:Manage Role CSS*/

/*END:Manage Entity CSS*/
.gx-grid-box{
position: absolute;
top: 0px;
width: 1254px;
height: 550px;
left: 324px;

}
.gx-splitter{
	height:527px;
	padding:auto;
}

.k-splitter .k-scrollable{
	overflow-y: auto;
	overflow-x: hidden;
}


.gx-window-style{	
	padding:15px;	
}

div.k-treeview{	
	overflow: hidden;	
}

.gx-tree-box div{
	padding:5px;
}
.gx-select-style{
	border-width: 1px;border-style: solid;
	border-color:#ccc;border-radius: 4px;	
}

.gx-select-template{	
	width:327px;
}

.gx-numeric-style{
	width: 100%;
	height: 2.13em;
	text-indent: .33em;
	outline: 0;
	padding: 2px .3em;
	line-height: 1.6em;
	border-width: 1px;
	border-color:#ccc;
	border-style: solid;
	border-radius:4px;
}
.panel-heading h3{
	padding-left:10px;	
}

.gx-tempGrid-footer {
	padding-top:10px;
	float:right;	
}

.gx-temp-grid{
	border-radius: 5px;	
}
input[type="number"][disabled] {
  background-color: #fff;
color: #333;
}

.gx-msg-notification{
	position:absolute;
	top:350px;
	left:500px;
}
.gx-toolbar-action{
	 height:41px;
	 padding-right: 5px;
		 
}
.gx-notification-style{
	
	position:absolute;
	margin: 0 auto;
	left:20px;
	top:20px;
	
}


.k-toolbar .k-input{
	height:27px;
}


#treeview .k-sprite {
                    background-image: url("http://demos.telerik.com/kendo-ui/content/web/treeview/coloricons-sprite.png");
                }
                .rootfolder { background-position: 0 0; }
                .folder { background-position: 0 -16px; }
                .pdf { background-position: 0 -32px; }
                .html { background-position: 0 -48px; }
                .image { background-position: 0 -64px; }
/*END:Manage Entity CSS*/


/*BEGIN:Prospect Notification CSS*/

.gx-cursor{
	cursor:pointer;
	
}

.form-group {
	margin-bottom: 5px;
}



textarea.form-control {
	height: auto;
	resize: none;
}

.gx-companydetails {
	font-size: 16px;	
	border-bottom: 1px dotted #000;
	line-height: 1.5;
	margin-top: 0px;
}

.gx-k-block-border{	
	border-width: 1px; 
	border-style: solid; 
	border-color: #ccc; 
	border-radius: 0px;
	padding:10px;
	margin: 0 auto;
	
}

.gx-captcha-field {
	color: black;
	font-weight: bold;
	font-size: 20px;
	-webkit-text-fill-color: black;
	-webkit-text-stroke-width: .5px;
	-webkit-text-stroke-color: black;
	width: 200px;
}

.gx-captcha-inputfield {
	width: 120px;
}

.intl-tel-input {
position: relative;
display: inline-block;
width: 100%;
}



#createAppContainer{
padding:10px;
	
}


.gx-modal-title {
	font-size: 16px;	
	border-bottom: 1px dotted #ccc;
	line-height: 1.5;
	margin-top: 0px;
}


.gx-bold{ font-weight: bold; }
.gx-gray-bg { background-color: #f5f5f5;}
.gx-whiteBg {background-color:#fff; border-top:1px solid #dfdfdf; padding:10px 0}
.gx-italic {font-style: italic;}






table#tableStatus {width: 580px; border-collapse: collapse;table-layout:fixed;}
table#tableStatus thead { display:block;  }
table#tableStatus  tr td{padding: 6px 10px; word-wrap:break-word; display: inline-block; width:165px; text-align: left;
vertical-align: top;}
table#tableStatus thead tr td {padding: 6px 10px; background-color: #f5f5f5; width:170px }
table#tableStatus thead > tr, table#tableStatus tbody{  display:block;}
table#tableStatus tbody {  height: 240px; overflow-y:auto; display:block; }


.gx-labelWrap{	
max-width: 140px;
word-wrap: break-word;
	
}
.gx-whiteBg h3{ padding: 10px 0;}


/*END: Prospect Notification CSS*/


@media (max-width: 1024px) {
	
.gx-select-template{	
	width:180px;
}
.gx-k-button{
	width:200px;
}

.k-textbox .k-icon {
top: 50%;
left: 88.5%;
}

.gx-search-list{
   width:200px;
   height:28px;
}
 
  .gx-user-list{
   width: 258px;
}

}

#buttonContainer {
	padding-top: 10px;
}

#messageContainer{
	width:100%;
}

 #roleName {
    text-transform: lowercase;
}
