<!--Angela's code; completenessGaugeNewHoliday.html-->

<div class="modal-header">
	<img ng-src="/intellicommand/pictures/clientLogos/Pacific Controls.png" class="img-responsive pull-left" style="width=5000px;max-height:100px"/>
	<img ng-src="/intellicommand/pictures/clientLogos/{{passedData.orgFullName}}.png" class="img-responsive pull-right" style="width=5000px;max-height:100px"/>
	<span ng-if="passedData.asset != 'Facility-Wide'" class="text-center"><h1>{{passedData.assetName}} Add New Holiday</h1><p>{{passedData.orgFullName}} - {{passedData.campusFullName}}</p></span>
	<span ng-if="passedData.asset == 'Facility-Wide'" class="text-center"><h1>Add New {{passedData.assetName}} Holiday</h1><p>{{passedData.orgFullName}} - {{passedData.campusFullName}}</p></span>
</div>

<div class='modal-body'>
	
	<form name='newHoliday'>
		<table>
			<tr><td>Holiday Name: </td><td><input required type='text' ng-model='day' placeholder='Name'/></td></tr>

			<tr><td>Repeat By: </td>
				<td>
					<input required type='radio' ng-model='repeatBy' value='exact date'> exact date:
					<input ng-required="repeatBy == 'exact date'" id='date2' type="text" placeholder="MM/DD" ng-model="date"
						ng-disabled="repeatBy == 'by day'" ng-pattern="/^(1[0-2]|0?[1-9])[-/]([12][0-9]|3[0-1]|0?[1-9])$/"></br>
					
					<input type='radio' ng-model='repeatBy' value='by day'> the:
					<select ng-required="repeatBy == 'by day'" ng-model='repeatType' ng-options="option for option in inputRepeatType" ng-disabled="repeatBy == 'exact date'"/>
					<select ng-required="repeatBy == 'by day'" ng-model='dayOfWeek' ng-options="option for option in inputRepeatDays" ng-disabled="repeatBy == 'exact date'"/> of
					<select ng-required="repeatBy == 'by day'" ng-model='monthOfYear' ng-options="option for option in inputRepeatMonths" ng-disabled="repeatBy == 'exact date'"/>
				</td>
			</tr>
		</table>
	</form>
</div>

<div class='modal-footer'>
	<i>
		<h2 ng-if="newHoliday.$valid && repeatBy=='exact date'">Summary: {{day}} will be observed annually on 
			{{inputRepeatMonths[date.substring(0,date.indexOf('/'))-1]}} {{date.substring(date.indexOf('/')+1,date.length)}}</h2>
		<h2 ng-if="newHoliday.$valid && repeatBy=='by day'">Summary: {{day}} will be observed annually on the on the {{repeatType}} {{dayOfWeek}} of {{monthOfYear}}</h2>
	</i>
	
	<button type='submit' class='btn btn-primary' ng-disabled='newHoliday.$invalid' ng-click='submitNewHoliday(day, repeatBy, date, repeatType, dayOfWeek, monthOfYear)'>
		<span class="glyphicon glyphicon-floppy-save"></span> Submit</button>
	<button class='btn btn-primary' ng-click='cancel()'>Cancel</button>
</div>