<button class="btn btn-danger" ng-click="logScope()">console.log($scope)</button>
<button class="btn btn-danger" ng-click="getSavings()">getSavings</button>
<!--<ticket-impulse class = "col-md-12" user-parameters-sidebar='false'></ticket-impulse>
<ticket-impulse class = "col-md-12" organization-sidebar ='false'></ticket-impulse>
<ticket-impulse
	class = "col-md-12" 
	query="{'assets':[{'asset':'AHU3','facility':'60 Wall Street','organization':'DEU'}],'highDate':'Wed Dec 10 2014 11:38:39 GMT-0500 (Eastern Standard Time)','lowDate':'Wed Jun 25 2014 11:38:39 GMT-0500 (Eastern Standard Time)'}"
	organization-sidebar = 'false'
	user-parameters = "{'width':800}"
></ticket-impulse>
<ticket-impulse class = "col-md-12" query="custQuery" user-parameters = "custParams"></ticket-impulse>
<ticket-impulse class = "col-md-12" user-parameters = "custParams" data = "custRawData" modal-button = "false"></ticket-impulse>-->
<energy-profile query="custOrganizations" user-parameters = "custEnergyParams" promise = "dataPromise"></energy-profile>