<div class="modal-header">
	<h1 class="modal-title">Work Order Cycle Time Configuration</h1>
</div>

<div class="modal-body">
	<div class="btn-group" dropdown>
		<button type="button" class="btn btn-primary dropdown-toggle">
			Select an Organization<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
				<li ng-repeat="organizationName in organizationNames">
					<a  ng-click='changeOrganization(organizationName)'>{{organizationName}}</a>
				</li>
			</ul>
	</div>
	<br>
	<div class="row-sm-12 row-md-12 row-lg-12 row-xl-12">
			<p>Selected Organization: {{organization}}</p>
	</div>
		
	<div class = "row">
		 <div class = "col-md-3 col-sm-4 col-xs-6 col-lg-2">From: <my-calendar name="startDate"></my-calendar></div>
	</div>
	<br>
	     
	<div class="row">
	  <div class = "col-md-3 col-sm-4 col-xs-6 col-lg-2">To: <my-calendar name="endDate"></my-calendar></div>
	</div><br>	
	<div class="row-sm-12 row-md-12 row-lg-12 row-xl-12"><input type="checkbox" ng-model="weekly">&emsp;Render Chart Weekly</div>
	
	 <button class="btn btn-default" ng-click="makeDefault()">Last 12 Months Data</button><br>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-danger" ng-click='cancel()'>Cancel</button>
	<button type="button" class="btn btn-primary" ng-click='ok(config)'>OK</button>
</div>