<!--Angela's code; facilitySelectorModal.html-->
<style>
	#facilityModalButton:hover {
		cursor: pointer;
	}
	#facilityModalButton:hover #backgroundRect {
		fill: #d90000;
	}
	#facilityModalButton:hover #foregroundText {
		fill: white;
	}
	#facilityModalBackButton {
		background-color: #bfbfbf;
		border-radius: 10px;
		color: black;
	}
	#facilityModalBackButton:hover {
		background-color: #bfbfbf;
		border: 2px solid #d90000;
		color: #d90000;
	}
</style>

<div ng-controller="facilitySelectorExpanderCtrl" id="expandMe">
	<div ng-show="view == 'small'">
		
		<svg id="facilityModalButton" viewBox="0 0 35 800" height="700px" ng-click="expand()">
			<rect id="backgroundRect" x="0" y="0" rx="10" ry="10" width="35" height="800" fill="#bfbfbf"/>
			<text id="foregroundText" style="text-align:center; text-anchor:middle" fill="black" x="-400" y="25" font-size="20" transform="rotate(270)">
				Click to Change Dashboard Data
			</text>
			<!-- x controls vertical alignment -> set to 1/2 the height  -->
			<!-- y controls horizontal alignment -->
		</svg>
	</div>
	
	<div ng-show="view == 'large'">
		<div class="row no-no-space">
			<div class="row ic-body-panel-header">
				<div class="col-sm-8">Data Selector</div>
				<div class="col-sm-4" style="text-align:right">
					<button class="ic-body-panel-button" ng-click="shrink()">Close</button>
				</div>
				<!--<div class="col-sm-2" style="text-align:right" ng-click="shrink()"><<</div>-->
			</div>

			<div class="ic-body-panel-body">
				<facility-selector/>
			</div>
		</div>



		
		
		
		<!--<facility-selector></facility-selector>-->
	</div>
</div>